* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  width: 100%;
  background: rgba(15, 23, 42, 0.9);
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

header h1 {
  font-size: 3rem;
  color: #38bdf8;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  width: fit-content;
  border-radius: 5px;
}

section {
  padding: 80px 50px;
}

h2 {
  margin-bottom: 20px;
  color: #38bdf8;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.project {
  background: #1e293b;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.project:hover {
  transform: scale(1.05);
}

.links a {
  margin-right: 15px;
  color: #38bdf8;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}

/* Animation */
.hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.project img{
    max-width: 100%;
    height: auto;
}

.project ul{
  margin-top: 10px;
}

.project li{
  margin-bottom: 5px;
}

.project a{
  color: #38bdf8;
}

.project-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}